@import './base.css';

#app {
  flex-grow: 1;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}

.message {
  max-width: 100%;
}

.message > .content {
  margin: 0 auto;
  padding: 2rem;
  max-width: 48rem;
  display: flex;
  white-space: pre-line;
}

.content > .avatar {
  padding-right: 1rem;
}

.message.outcoming {
  background: #343541;
}

.message.incoming {
  background: #434654;
}

.bottomContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3rem;
}

.bottomContainer > .retry {
  border: 1px solid #565869;
  padding: 0.75rem;
  margin: 0 auto 2rem auto;
  border-radius: 0.8rem;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #343541;
}

.bottomContainer > .retry:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.77);
}

.bottomContainer > .retry:active {
  margin-bottom: 1.85rem;
}

.bottomContainer > .retry > .material-design-icon {
  font-size: 0rem;
  margin-right: 0.33rem;
}

.inputContainer {
  margin: 0 auto;
  border-radius: 0.35rem;
  max-width: 48rem;
  background: #40414f;
  border-color: #20212380;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
}

.inputContainer > .textarea {
  padding: 1rem;
  flex-grow: 1;
  outline: 0px solid transparent;
  background: transparent;
  border: 0;
  color: white;
  resize: none;
  font-size: 1rem;
}

.inputContainer > button {
  background: transparent;
  border: none;
  padding: 1rem 1.25rem;
  color: #8e8ea0;
}

.inputContainer > button:hover {
  color: white;
  cursor: pointer;
}